{{- $terms := .terms -}}

<div class="terms-cloud">
    {{ if not (eq (printf "%T" $terms) "<nil>") }}
        {{ range $key, $value := $terms }}
            {{ with $.Site.GetPage (printf "/%s/%s" $.Data.Plural $key) }}
                <a class="term-item" href="{{ .RelPermalink }}">
                    <span>{{- .Title -}}</span>
                    {{ if $.showcount }}
                        <span class="term-count">({{ len $value }})</span>
                    {{ end }}
                </a>
            {{ end }}
        {{ end }}
    {{ else }}
        <div>No terms to display</div>
    {{ end }}
</div>
